.container{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
h1{
    font-size: 45px;
    font-weight: bold;
}
.cards{
    display: flex;
    gap: 15px;
}
@media screen and (max-width:780px) {
    .container>h1{
        font-size: xx-large;
        text-align: center;
    }
    .cards{
        flex-direction: column;
    }
    
}