.container>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}
.container>nav>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    font-size: 20px;
}
.container>nav>ul>li{
    list-style: none;
}
.container>nav>ul>li:hover{
    cursor: pointer;
    color: #4759EE;
}
.container>nav>h1{
    color: #4759EE;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
}
@media screen and (max-width:740px) {
    .container>nav{
        justify-content: space-around;
        align-items: center;
    }
    nav>ul{
        flex-direction: column;
        color: white;
        padding: 20px;
        border-radius: 15px;
    }
    nav>:nth-child(2){
        position: fixed;
        z-index: 99;
        right: 2rem;
        top: 2rem;
        /* margin-top: 20rem; */
    }    
    .navmenu{
        flex-direction: column;
        background-color: black;
        padding: 2rem;
    }
    .container>nav>h1{
        font-size: 35px;
    }
    
}